div#app {
    position: relative;
    height: 600px;
    width: 600px;
    overflow: scroll;
}

canvas { position: absolute; top: 0; left: 0; }
#entity-layer { z-index: 2; }
#background-layer { z-index: 1; }
